<div id="songId"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        #if ($error != $null)
          <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> $error
          </div>
          <br>
        #end
        <div class="card-header" data-background-color="green">
          <h4 class="title">Modificar Canción</h4>
          <p class="category">Complete el formulario</p>
        </div>
        <div class="card-content">
          <form action="/songs" method="put" id="form" class="$!{id}">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Nombre</label>
                  <input type="text" class="form-control" name="name" id="name" value="$!{name}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Duración</label>
                  <input type="text" class="form-control" name="duration" id="duration" value="$!{duration}">
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-success pull-right">Actualizar</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>