<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header col-md-12 remove-vertical-padding" data-background-color="green">
            <table class="table">
              <tr>
                <td>
                  <h4 class="title">Listado de todas las canciones</h4>
                </td>
                <td>
                  <a href="/songs/new" class="btn btn-default pull-right">
                    <i class="material-icons">playlist_add</i>
                    Crear Canción
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="card-content table-responsive">
            #if ($success != $null)
              <div class="alert alert-success" role="alert">
                <strong>Nueva Canción</strong> $success
              </div>
              <br>
            #end

            <table id="dashboard-songs-datatable" data-url="/songs/datatable" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Duracion</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
