<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header col-md-12 remove-vertical-padding" data-background-color="green">
            <table class="table">
              <tr>
                <td>
                  <h4 class="title">Listado de todas las canciones</h4>
                </td>
                <td>
                  <a href="/songs/new" class="btn btn-default pull-right">
                    <i class="material-icons">playlist_add</i>
                    Crear Canción
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="card-content table-responsive">
            #if ($success != $null)
              <div class="alert alert-success" role="alert">
                <strong>Nueva Canción</strong> $success
              </div>
              <br>
            #end
            <table class="table table-hover">
              <thead class="text-success">
                <th>Nombre</th>
                <th>Duración</th>
                <th>Acciones</th>
              </thead>
              <tbody>
                #if ($songs != $null)
                  #foreach( $song in $songs )
                    <tr>
                      <td>$song.name</td>
                      <td>$song.duration</td>
                      <td>
                        <a href="/songs/$!{song.id}">
                          <i class="material-icons">remove_red_eye</i>
                        </a>
                        <a href="/songs/$!{song.id}/edit">
                          <i class="material-icons">edit</i>
                        </a>
                        <a href="/songs/$!{song.id}" class="$!{artist.id}" id="delete">
                          <i class="material-icons">close</i>
                        </a>
                      </td>
                    </tr>
                  #end
                #else
                  <tr>
                    <td colspan="3">No hay ninguna canción cargada en el sistema</td>
                  </tr>
                #end
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('li').removeClass('active');
    $('#song').addClass('active');
    var id = $('#delete').attr('class')

    $('#delete').on('click', function(event){
      event.preventDefault();
      $.ajax({
        url: "/songs/"+id,
        method: "delete"
      }).done(function() {
        window.location.replace("/songs");
      });
    })
  });
</script>
