<div id="songId"></div>
<div class="container-fluid" id="noSearch">
  <div class="row">
    <div class="col-xs-12">
      #if ($errors != $null)
        <div class="alert alert-danger" role="alert">
          <strong>La canción no pudo ser creada por los siguientes motivos:</strong>
          <ul>
            #foreach ($error in $errors)
              <li>$error</li>
            #end
          </ul>
        </div>
        <br>
      #end
    </div>
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <h4 class="title">Nueva Canción</h4>
          <p class="category">Complete el formulario</p>
        </div>
        <div class="card-content">
          <form action="/songs" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Nombre</label>
                  <input type="text" class="form-control" name="name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Duración</label>
                  <input type="text" class="form-control" name="duration">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label class="control-label">Álbum</label>
                <select name="album_title"
                        id="album_title"
                        class="form-control selectpicker show-tick"
                        data-live-search="true"
                        data-style="btn-success"
                        data-dropup-auto="false"
                        data-size="4">
                  #foreach ($album in $albums)
                    <option value="$album.title">$album.title</option>
                  #end
                </select>
              </div>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Crear</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
