<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header col-md-12" data-background-color="purple">
            <div class="col-md-10">
              <h4 class="title">Listado de todas las Bandas</h4>
            </div>
            <div class="col-md-2">
              <a href="/bands/new" type="button" class="btn btn-default" data-dismiss="modal">
                <i class="material-icons">playlist_add</i>Crear Banda</a>
            </div>
          </div>
          <div class="card-content table-responsive">
            #if ($success != $null)
              <div class="alert alert-success" role="alert">
                <strong>Nueva Banda</strong> $success
              </div>
              <br>
            #end
            <table class="table table-hover">
              <thead>
                <th>Nombre</th>
                <th>Genero</th>
                <th>Acciones</th>
              </thead>
              <tbody>
                #if ($bands != $null)
                  #foreach( $band in $bands )
                    <tr>
                      <td>$band.getName()</td>
                      <td>$band.getGenre()</td>
                      <td>
                        <a href="/bands/$!{band.getId()}">
                          <i class="material-icons">remove_red_eye</i>
                        </a>
                        <a href="/bands/$!{band.getId()}/edit">
                          <i class="material-icons">edit</i>
                        </a>
                        <a href="/bands/$!{band.getId()}" method="delete">
                          <i class="material-icons">close</i>
                        </a>
                      </td>
                    </tr>
                  #end
                #else
                  <tr>
                    <td colspan="3">No hay ninguna banda cargada en el sistema</td>
                  </tr>
                #end
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  #include("vendor/jquery/jquery.min.js")
  $(document).ready(function() {
    $('li').removeClass('active');
    $('#band').addClass('active');
  });
</script>
