<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header col-md-12 remove-vertical-padding" data-background-color="green">
            <table class="table">
              <tr>
                <td>
                  <h4 class="title">Listado de todas las bandas</h4>
                </td>
                <td>
                  <a href="/bands/new" class="btn btn-warning pull-right">
                    <i class="material-icons">playlist_add</i>
                    Crear Banda
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="card-content table-responsive">
            #if ($success != $null)
              <div class="alert alert-success" role="alert">
                <strong>Nueva Banda</strong> $success
              </div>
              <br>
            #end
            <table class="table table-hover">
              <thead class="text-success">
                <tr>
                  <th>Nombre</th>
                  <th>Género</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                #if ($bands != $null)
                  #foreach( $band in $bands )
                    <tr>
                      <td>$band.getName()</td>
                      <td>$band.getGenre()</td>
                      <td>
                        <a href="/bands/$!{band.getId()}">
                          <i class="material-icons">remove_red_eye</i>
                        </a>
                        <a href="/bands/$!{band.getId()}/edit">
                          <i class="material-icons">edit</i>
                        </a>
                        <a href="/bands/$!{band.getId()}" method="delete">
                          <i class="material-icons">close</i>
                        </a>
                      </td>
                    </tr>
                  #end
                #else
                  <tr>
                    <td colspan="3">No hay ninguna banda cargada en el sistema</td>
                  </tr>
                #end
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.sidebar-wrapper li').removeClass('active');
    $('.sidebar-wrapper li#band').addClass('active');
  });
</script>
