<div id="bandId"></div>
<div class="container-fluid" id="noSearch">
  <div class="row">
    <div class="col-xs-12">
      #if ($errors != $null)
        <div class="alert alert-danger" role="alert">
          <strong>La banda no pudo ser creada por los siguientes motivos:</strong>
          <ul>
            #foreach ($error in $errors)
              <li>$error</li>
            #end
          </ul>
        </div>
        <br>
      #end
    </div>
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <h4 class="title">Nueva Banda</h4>
          <p class="category">Complete el formulario</p>
        </div>
        <div class="card-content">
          <form action="/bands" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Nombre</label>
                  <input type="text" class="form-control" name="name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Género</label>
                  <input type="text" class="form-control" name="genre">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Fecha de Inicio</label>
                  <input type="date" class="form-control" name="start_at">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Fecha de Fin</label>
                  <input type="date" class="form-control" name="end_at">
                </div>
              </div>
            </div>

            <div class="row text-center">
              <button type="submit" class="btn btn-primary">Crear</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>