<div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header" data-background-color="orange">
        <i class="fa fa-microphone" aria-hidden="true"></i>
      </div>
      <div class="card-content">
        <p class="category">BANDAS</p>
        <h3 class="title">$cantidadBandas</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a class="orange-font" href="/bands/new">Agregar banda</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header" data-background-color="green">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <div class="card-content">
        <p class="category">ARTISTAS</p>
        <h3 class="title">$cantidadArtistas</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a class="green-font" href="/bands/new">Agregar artista</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header" data-background-color="red">
        <i class="fa fa-music"></i>
      </div>
      <div class="card-content">
        <p class="category">CANCIONES</p>
        <h3 class="title">$cantidadCanciones</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a class="red-font" href="/bands/new">Agregar canción</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header" data-background-color="blue">
        <i class="fa fa-headphones" aria-hidden="true"></i>
      </div>
      <div class="card-content">
        <p class="category">ÁLBUMES</p>
        <h3 class="title">$cantidadAlbumes</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a class="blue-font" href="/bands/new">Agregar álbum</a>
        </div>
      </div>
    </div>
  </div>
</div>