<a class="slide-2" href="" role="button">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</a>

<table class="table table-hover" id="album-table">
  <thead>
    <th>Titulo</th>
    <th>Lanzamiento</th>
  </thead>
  <tbody>
    <tr>
      <td id="album-title"></td>
      <td id="album-release"></td>
    </tr>
  </tbody>
</table>