<section class="content">

  <div class="content__middle width-100">
    <div class="page-flows">
      <a class="slide-2" href="" role="button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
    </div>

    <div class="artist__header">
      <div class="artist__info">
        <div class="profile__img">
          <img src="http://www.feelnumb.com/wp-content/uploads/2013/11/nirvana_smiley_face_logo_meaning_kurt_cobain.jpg">
        </div>

        <div class="artist__info__meta">
        <div class="artist__info__type">Álbum</div>
          <div id="album-title" class="artist__info__name">Titulo</div>
        </div>

      </div>

      <div class="artist__listeners">
        <div class="artist__listeners__count">15.666</div>
        <div class="artist__listeners__label">Visitas</div>
      </div>

    </div>

    <div class="col-md-5">
      <div class="content__middle">
        <div class="artist is-verified">

          <div class="overview__related">
            <div class="section-title">Lanzamiento</div>
          </div>

          <div class="overview">

            <div class="overview__related">
              <div class="related-artists">
              <div id="album-release"></div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="artist__content">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="artist-overview">
            <div class="overview">
              <div class="overview__albums">
                <div class="album">
                  <div class="album__info">
                    <div class="album__info__meta">
                      <div class="album__name">Canciones</div>
                    </div>
                  </div>
                  <div class="album__tracks">
                    <div class="tracks">
                      <div class="tracks__heading">
                        <div class="tracks__heading__number">#</div>
                        <div class="tracks__heading__title">Nombre</div>
                        <div class="tracks__heading__length">Duración</div>
                        <div class="tracks__heading__popularity">
                          <i class="ion-thumbsup"></i>
                        </div>
                      </div>

                      <div id="album-song"></div>
                      <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          </div>
                          <div class="modal-body">
                            <iframe width="400" height="300" frameborder="0" allowfullscreen="true"></iframe>
                          </div>
                        </div>
                      </div>
                    </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
