<div class="col-lg-1 input-group nav navbar-right panel_toolbox">
  <a class="slide-1 right" href="" role="button">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>
