<a class="slide-1" href="" role="button">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</a>

<table class="table table-hover" id="show-band-table">
  <thead>
    <th>Nombre</th> 
    <th>Genero</th>
    <th>Miembros</th>
    <th>Albumes</th>
  </thead>
  <tbody>
    <tr>
      <td id="band-name"></td>
      <td id="band-genre"></td>
      <td id="band-member"></td>
      <td id="band-album"></td>
    </tr>
  </tbody>
</table>