<a class="slide-4" href="" role="button">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</a>

<table class="table table-hover" id="song-table">
  <thead>
    <th>Nombre</th>
    <th>Duracion</th>
  </thead>
  <tbody>
    <tr>
      <td id="song-name"></td>
      <td id="song-duration"></td>
    </tr>
  </tbody>
</table>