<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">ROCK EN RIO CUARTO</h1>
          <p class="intro-text">Una recopilación de talentos.
            <br>Creado por DOSE2016.</p>
          <a href="#a_cerca_de" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="a_cerca_de" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>A cerca de Rock en Rio Cuarto</h2>
      <p>Rock en Rio Cuarto es una página web ingeniada por estudiantes de Licenciatura en Ciencias de la Computación de la Universidad Nacional de Río Cuarto para lograr recopilar todos los talentos rockeros de Río Cuarto, organizando así las diferentes bandas, con sus respectivos artistas, álbumes y canciones.</p>
    </div>
  </div>
</section>


  <!-- Bands Section -->
<section id="mycarousel" class="carousel slide" data-ride="carousel">
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  
    <div class="item" id="carouse-search">
      #parse("views/landing_page/_search.vm")
    </div>

    <div class="item" id="carouse-index-band">
        <img src="https://unsplash.it/2000/1250?image=689" data-color="firebrick" alt="Second Image">
        #parse("views/landing_page/_index_band.vm")
    </div>

    <div class="item" id="carouse-show-band">
      #parse("views/landing_page/_show_band.vm")
    </div>

    <div class="item" id="carouse-artist">
      #parse("views/landing_page/_artist.vm")
    </div>

    <div class="item" id="carouse-album">
      #parse("views/landing_page/_album.vm")
    </div>

    <div class="item" id="carouse-song">
      #parse("views/landing_page/_song.vm")
    </div>

  </div>

</section>
