<div class="sidebar" data-color="orange" data-image="assets/img/sidebar-1.jpg">

  <div class="logo">
    <a href="/" class="simple-text">
      Bandas de Río Cuarto
    </a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li id="dashboard">
        <a href="/dashboard">
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          <p>Panel de administrador</p>
        </a>
      </li>
      <li id="band">
        <a href="/bands">
          <i class="fa fa-microphone" aria-hidden="true"></i>

          <p>Bandas</p>
        </a>
      </li>
      <li id="album">
        <a href="/albums">
          <i class="fa fa-headphones" aria-hidden="true"></i>
          <p>Albumes</p>
        </a>
      </li>
      <li id="song">
        <a href="/songs">
          <i class="fa fa-music"></i> 
          <p>Canciones</p>
        </a>
      </li>
      <li id="artist">
        <a href="/artists">
          <i class="fa fa-users" aria-hidden="true"></i>
          <p>Artistas</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
  #include("vendor/jquery/jquery.min.js")
  $(document).ready(function() {
    $('li').removeClass('active');
    $('li').on('click', function(){
      // this.addClass('active');
    })
  });
</script>
