<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-1.jpg">
  <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->

  <div class="logo">
    <a href="/" class="simple-text">
      Bands of Río Cuarto
    </a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="dashboard.html">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="active">
        <a href="/bands">
          <i class="material-icons">person</i>
          <p>Bands</p>
        </a>
      </li>
      <li>
        <a href="/albums">
          <i class="material-icons">content_paste</i>
          <p>Albums</p>
        </a>
      </li>
      <li>
        <a href="/songs">
          <i class="material-icons">library_books</i>
          <p>Songs</p>
        </a>
      </li>
      <li>
        <a href="/artists">
          <i class="material-icons">bubble_chart</i>
          <p>Artists</p>
        </a>
      </li>
    </ul>
  </div>
</div>
