<div class="row">
	<div class="col-xs-12 albums-container">
		<div class="row album-info">
			<div class="offset-xs-1 col-xs-3">
				<img src="img/placeholder.png" class="img-fluid">
			</div>
			<div class="col-xs-7">
				<p>ALBUM</p>
				<h1>{{album.title}}</h1>

				<p>De <a ng-href="/#/bands/{{album.band.bandId}}" class="album-song">{{album.band.name}}</a> | Publicado: {{album.releaseDate}} | {{album.songs.length}} canciones</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">	
				<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>CANCIÓN</th>
						<th>DURACIÓN</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="song in album.songs">
						<td><a class="album-song" ng-href="/#/songs/{{song.idSong}}">{{song.name}}</a></td>
						<td>{{song.duration}}</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>