<div class="row">
	<div class="col-xs-3">
		<input class="form-control" type="" name="" ng-model="artist_search" placeholder="Filtrar">
	</div>
	<div class="col-xs-12 artists-container">
		<div class="row">
			<div class="col-xs-3 artist" ng-repeat="artist in artists | orderBy: 'ArtistID' | filter : artist_search">
				<img src="/img/placeholder.png" class="img-fluid" alt="">
				<p class="lead" ng-click="go_to(artist.ArtistID)">{{artist.name}} {{artist.surname}}<br><small class="text-muted">{{artist.nickname}}</small></p>
			</div>
		</div>
	</div>
</div>