<div class="row">
	<div class="col-xs-12 external-login-container">
		<div class="center-block">
			<div class="offset-xs-3 col-xs-6 internal-login-container">
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Correo electrónico</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su correo">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Contraseña</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su contraseña">
					</div>
					<div class="form-group pull-right">
						<button type="submit" class="btn btn-success">Iniciar sesión</button>
					</div>
				</form>
			</div>
		</div>	
	</div>
</div>