<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2">
				<input class="form-control" type="text" placeholder="Filtrar" ng-model="song_search">
			</div>
		</div>
		<div class="row songs-container">
			<div class="col-xs-12">	
				<table class="table table-striped table-inverse">
				<thead>
					<tr>
						<th>CANCIÓN</th>
						<th>ALBUM</th>
						<th>DURACIÓN</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="song in songs | filter : song_search">
						<td>{{song.name}}</td>
						<td>{{song.album_name}}</td>
						<td>{{song.duration}}</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>