<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<div class="col-md-8 col-md-offset-2">
  <h3>
    Band Create
  </h3>
</div>
<div class="col-md-8 col-md-offset-2">
  <div class="x_panel">
    <div class="x_content">
      <div>
        <b>Nombre</b>
        <input class="form-control" type="text" name="band-name" placeholder="Nombre de la banda">
      </div>
      <div>
        <b>Genero</b>
        <input class="form-control" type="text" name="band-genre" placeholder="Agregar un genero">
      </div>
      <div>
        <div class="col-md-6">
          <b>Fecha de inicio</b>
          <input class="form-control" type="text" name="band-start-at" placeholder="dd/mm/aaaa">
        </div>
        <div class="col-md-6">
          <b>Fecha de fin</b>
          <input class="form-control" type="text" name="band-end-at" placeholder="dd/mm/aaaa">
        </div>
      </div>
      <div>
        <b>Artistas</b>
        <input class="form-control" type="text" name="band-artist" placeholder="Agregar un artista">
      </div>
      <div>
        <b>Albums</b>
        <input class="form-control" type="text" name="band-album" placeholder="Agregar un album">
      </div>
    </div>
  </div>
</div>