<div class="container-fluid">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 vcenter">
    #if ($error != $null)
      <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> $error
      </div>
    #end
    <div class="card">
      <div class="card-header" data-background-color="green">

        <h4 class="title">Iniciar sesión</h4>
        <p class="category">Ingrese su nombre de usuario y contraseña</p>
      </div>
      <div class="card-content">
        <form action="$post_login_path" method="$form_method" autocomplete="off">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group label-floating">
                <label class="control-label">Usuario</label>
                <input type="text" class="form-control" name="name" autocomplete="new-password">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group label-floating">
                <label class="control-label">Contraseña</label>
                <input type="password" class="form-control" name="password" autocomplete="new-password">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Iniciar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
