<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header col-md-12 remove-vertical-padding" data-background-color="green">
            <table class="table">
              <tr>
                <td>
                  <h4 class="title">Listado de todos los artistas</h4>
                </td>
                <td>
                  <a href="/artists/new" class="btn btn-warning pull-right">
                    <i class="material-icons">playlist_add</i>
                    Crear Artista
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="card-content table-responsive">
            #if ($success != $null)
              <div class="alert alert-success" role="alert">
                <strong>Nuevo Artista</strong> $success
              </div>
              <br>
            #end
            <table class="table table-hover" id="table">
              <thead class="text-success">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Apodo</th>
                <th>Acciones</th>
              </thead>
              <tbody>
                #if ($artists != $null)
                  #foreach( $artist in $artists )
                    <tr>
                      <td>$artist.getName()</td>
                      #if($artist.getSurname() != $null)
                        <td>$artist.getSurname()</td>
                      #else
                        <td>Sin Datos</td>
                      #end
                      #if($artist.getNickname() != $null)
                        <td>$artist.getNickname()</td>
                      #else
                        <td>Sin Datos</td>
                      #end
                      <td>
                        <a href="/artists/$!{artist.getId()}">
                          <i class="material-icons">remove_red_eye</i>
                        </a>
                        <a href="/artists/$!{artist.getId()}/edit">
                          <i class="material-icons">edit</i>
                        </a>
                        <a href="/artists/$!{artist.getId()}" class="$!{artist.getId()}" id="delete">
                          <i class="material-icons">close</i>
                        </a>
                      </td>
                    </tr>
                  #end
                #else
                  <tr>
                    <td colspan="4">No hay ningun artista cargado en el sistema</td>
                  </tr>
                #end
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('li').removeClass('active');
    $('#artist').addClass('active');
    var id = $('#delete').attr('class')

    $('#delete').on('click', function(event){
      event.preventDefault();
      $.ajax({
        url: "/artists/"+id,
        method: "delete"
      }).done(function() {
        window.location.replace("/artists");
      });
    })
  });
</script>
