<div id="artistId"></div>
<div class="container-fluid" id="noSearch">
  <div class="row">
    <div class="col-xs-12">
      #if ($errors != $null)
        <div class="alert alert-danger" role="alert">
          <strong>El artista no pudo ser creado por los siguientes motivos:</strong>
          <ul>
            #foreach ($error in $errors)
              <li>$error</li>
            #end
          </ul>
        </div>
        <br>
      #end
    </div>
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <h4 class="title">Nuevo Artista</h4>
          <p class="category">Complete el formulario</p>
        </div>
        <div class="card-content">
          <form action="/artists" method="post">
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group label-floating">
                  <label class="control-label">Nombre</label>
                  <input type="text" class="form-control" name="name">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group label-floating">
                  <label class="control-label">Apellido</label>
                  <input type="text" class="form-control" name="surname">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group label-floating">
                  <label class="control-label">Apodo</label>
                  <input type="text" class="form-control" name="nickname">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label class="control-label">Bandas</label>
                  <select multiple="multiple"
                          name="band_ids[]"
                          class="form-control selectpicker show-tick"
                          data-live-search="true"
                          data-style="btn-success"
                          data-dropup-auto="false"
                          data-size="4"
                          title="Busque las bandas a las que pertenece el artista">
                    #foreach ($band in $bands)
                      <option value="$band.id">$band.name</option>
                    #end
                  </select>
                </div>
              </div>
            </div>

            <div class="row text-center">
              <button type="submit" class="btn btn-primary">Crear</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
