<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">Nuevo Artista</h4>
          <p class="category">Complete el formulario</p>
        </div>
        <div class="card-content">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Nombre</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Género</label>
                  <input type="text" class="form-control" >
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Crear</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  #include("vendor/jquery/jquery.min.js")
  $(document).ready(function() {
    $('li').removeClass('active');
    $('#artist').addClass('active');
  });
</script>
