<div id="artistId"></div>
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="col-md-12">
      <div class= "card">
        <div class="card-header" data-background-color="green">
          <h4 class="modal-title" id="myModalLabel">Información Personal</h4>
        </div>
        <div class="modal-body">
          <strong>Nombre</strong>
          <h5>$artist.getName()</h5>

          <strong>Apellido</strong>
          #if($artist.getSurname() != $null)
            <h5>$artist.getSurname()</h5>
          #else
            <h5>El artista no contiene apellido</h5>
          #end

          <strong>Apodo</strong>
          #if ($artist.getNickname() != $null)
            <h5>$artist.getNickname()</h5>
          #else
            <h5>El artista no contiene apodo</h5>
          #end
        </div>
        <div class="modal-footer">
          <a href="/artists" type="button" class="btn btn-success" data-dismiss="modal">Volver</a>
        </div>
      </div>
    </div>
  </div>
</div>
