<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header col-md-12 remove-vertical-padding" data-background-color="green">
            <table class="table">
              <tr>
                <td>
                  <h4 class="title">Listado de todos los álbumes</h4>
                </td>
                <td>
                  <a href="/albums/new" class="btn btn-default pull-right">
                    <i class="material-icons">playlist_add</i>
                    Crear Álbum
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="card-content table-responsive">
            #if ($success != $null)
              <div class="alert alert-success" role="alert">
                <strong>Nuevo Album</strong> $success
              </div>
              <br>
            #end
            <table class="table table-hover">
              <thead class="text-success">
                <th>Titulo</th>
                <th>Lanzamiento</th>
                <th>Acciones</th>
              </thead>
              <tbody>
                #if($albums != $null)
                  #foreach( $album in $albums )
                    <tr>
                      <td>$album.getTitle()</td>
                      <td>$album.getReleaseDate()</td>
                      <td>
                        <a href="/albums/$!{album.getId()}">
                          <i class="material-icons">remove_red_eye</i>
                        </a>
                        <a href="/albums/$!{album.getId()}/edit">
                          <i class="material-icons">edit</i>
                        </a>
                        <a href="/albums/$!{album.getId()}" class="$!{album.getId()}" id="$!{album.getId()}">
                          <i class="material-icons">close</i>
                        </a>
                      </td>
                    </tr>
                  #end
                #else
                  <tr>
                    <td colspan="4">No hay ningun album cargado en el sistema</td>
                  </tr>
                #end
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('li').removeClass('active');
    $('#album').addClass('active');

    $('a').on('click', function(event){
      event.preventDefault();
      var id = this.id
      $.ajax({
        url: "/albums/"+id,
        method: "delete"
      }).done(function() {
        window.location.replace("/albums");
      });
    })
  });
</script>
