<div class="container-fluid" id="noSearch">
  <div class="row">
    <div class="col-xs-12">
      #if ($errors != $null)
        <div class="alert alert-danger" role="alert">
          <strong>El álbum no pudo ser creado por los siguientes motivos:</strong>
          <ul>
            #foreach ($error in $errors)
              <li>$error</li>
            #end
          </ul>
        </div>
        <br>
      #end
    </div>
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <h4 class="title">Nuevo Album</h4>
          <p class="category">Complete el formulario</p>
        </div>
        <div class="card-content">
          <form action="/albums" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Título</label>
                  <input type="text" class="form-control" name="title">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Lanzamiento</label>
                  <input type="date" class="form-control" name="release_date">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label class="control-label">Banda</label>
                <select name="band_id" id="band_id" class="form-control">
                  #foreach ($band in $bands)
                    <option value="$band.id">$band.name</option>
                  #end
                </select>
              </div>
            </div>

            <div class="row text-center">
              <button type="submit" class="btn btn-primary">Crear</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.sidebar-wrapper li').removeClass('active');
    $('.sidebar-wrapper #album').addClass('active');
  });
</script>
