<div id="albumId"></div>
<div class="modal-dialog modal-lg" role="document" id="noSearch">
  <div class="modal-content">
    <div class="col-md-12">
      <div class= "card">
        <div class="card-header" data-background-color="green">
          <h4 class="modal-title" id="myModalLabel">Datos del Album</h4>
        </div>
      <div class="modal-body">
        <strong>Banda</strong>
        <h5>$album.getBand().getName()</h5>

        <strong>Título</strong>
        <h5>$album.getTitle()</h5>

        <strong>Fecha de lanzamiento</strong>
        #if($album.getReleaseDate() != $null)
          <h5>$album.getReleaseDate()</h5>
        #else
          <h5>El album no contiene fecha de lanzamiento</h5>
        #end

      </div>
      <div class="modal-footer text-center">
        <a href="/albums" type="button" class="btn btn-primary" data-dismiss="modal">Volver</a>
      </div>
      </div>
    </div>
  </div>
</div>
