<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">rock_db_owner</property>
        <property name="hibernate.connection.password">rockenrio4</property>
        <property name="hibernate.connection.url">jdbc:postgresql://192.168.99.100:5432/rcrockbands</property>
        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>
		<property name="hibernate.current_session_context_class">thread</property>
        <mapping class="ar.edu.unrc.exa.dc.dose2016.riocuartobandasderock.model.Artist"/>
        <mapping class="ar.edu.unrc.exa.dc.dose2016.riocuartobandasderock.model.Song"/>
           
    </session-factory>
</hibernate-configuration>
